<h2><%= @cocktail.name %></h2>
<%= cl_image_tag @cocktail.photo, height: 660, width: 440, crop: :fill %>

<h4>Doses</h4>
<p><% @cocktail.doses.each do |doses| %></p>
  <p><%= doses.description %> of <%= doses.ingredient.name %><%= link_to "Delete", dose_path(doses),
      method: :delete,
      data: { confirm: "Are you sure?" } %></p>
<% end %>

<%= link_to "add a dose", new_cocktail_dose_path(@cocktail) %>


<%= link_to "back to the cocktails", cocktails_path %>



